# Hugging Face API Token. Optional - only required if downloading
# multiple models to avoid rate limiting issues
HF_TOKEN=

# The embedding model to load at server startup
# (Default: BAAI/bge-small-en-v1.5)
DEFAULT_EMBEDDING_MODEL=BAAI/bge-small-en-v1.5